
.event-list-wrapper {
  width: 100%;
  height: auto;
  background-color:beige;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.event-list {
  width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-top: 140px;
  margin-bottom: 60px;
}
  