@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@200;300;400;500;900&display=swap");

.card {
  background-color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  padding: 32px;
  border-radius: 18px;
  border: 2px solid rgb(29, 139, 29);
}
.card:hover {
  opacity:0.9;
}
.card img {
  width: 280px;
  border-radius: 14px;
  
}
.card .card-content {
  width: 230px;
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.card .card-content h3 {
  font-size: 28px;
  text-transform: uppercase;
  color: rgb(43, 50, 43);
  text-decoration: none;
  font-weight: 600;
  margin-bottom: 40px;
}
.card .card-content p {
  font-size: 19px;

  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 18px;
  color : rgb(43, 50, 43);
  font-size: 20px;
  
}
.card .card-content p span {
  font-size: 16px;
}
a {
  text-decoration: none !important;
}



