.bdy{
    background-color: rgb(188, 235, 187);
    background-position: center;
    background-size: contain;
    z-index: -1;
    height: 590px;
    background-attachment: fixed;
    font-family: 'Courier New', Courier, monospace;

}
.bdy form{
    margin-left: 37%;
    width: 400px;
    height:530px;
    border: none;
    box-shadow: 0px 0px 5px rgba(43, 42, 42, 0.3);
    margin-top:10px;
    backdrop-filter: blur(5px);
}
.bdy h2{
    text-align: center;
    color:rgb(27, 25, 25);
    margin-top:20px;
}
.bdy input{
    margin-top: 10px;
    margin-left: 80px;
    border-radius: 3px;
}
.bdy label{
    margin-top:20px;
    display: block;
    text-align: center;
    font-weight: bold;
}
.bdy button{
    margin-top:30px;
    margin-left:165px;
    border:none;
    border-radius: 3px;
    width:105px;
    height:36px;
    cursor:pointer;
    box-shadow: 0px 0px 8px;
    margin-bottom: 20px;
}
.bdy button:hover{
    opacity: 0.9;
    background-color: rgb(57, 57, 235);
    color:white;
}
.bdy button:active{
    background-color: blue;
}